<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abt.androidblacktiger" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
                    android:required="true"/>


    <application
        android:name=".ABTApplication"
        android:allowBackup="true"
        android:icon="@drawable/mao"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".CameraActivity"
                  android:label="@string/app_name"

                  android:screenOrientation="portrait">
            <!-- configure this activity to use landscape orientation -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="Main_Menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="abt.androidblacktiger.MainActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="Main_Menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="abt.androidblacktiger.MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".NewGPS"
            android:label="NewGPS" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="abt.androidblacktiger.MainMenuActivity" />
        </activity>
        <activity
            android:name=".DiscoverMap"
            android:label="@string/title_activity_discover_map" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".NewVocabActivity"
            android:label="@string/title_activity_new_vocab" >
        </activity>
        <!-- <service -->
        <!-- android:name=".NewGPS" -->
        <!-- android:label="NewGPS" > -->
        <!-- </service> -->
        <service
            android:name=".GPS"
            android:label="GPS" >
        </service>

    </application>

</manifest>
